@mixin border-nav-children
    border: 1px solid var(--color-border)

@mixin border-default-all
    border: 1px solid var(--color-border)

@mixin border-default-left
    border-left: 1px solid var(--color-border)

@mixin border-default-right
    border-right: 1px solid var(--color-border)

@mixin border-default-top
    border-top: 1px solid var(--color-border)

@mixin border-default-bottom
    border-bottom: 1px solid var(--color-border)

@mixin border-bold
    border: 2px solid var(--color-border)

@mixin border-bold-all
    border: 2px solid var(--color-border-bold)
