@mixin img-container
    background-color: var(--color-background-empty)
    border: 1px solid color-mix(in srgb, var(--color-text) 15%, transparent)
    
@mixin tags-container
    background-color: var(--color-background-empty)
    border: 2px solid color-mix(in srgb, var(--color-text) 15%, transparent)

@mixin container-small
    max-width: calc(var(--screen-size-small-units) * 2)
