\:root
    // Brand Colors
    --color-brand: rgba(255, 107, 53, 1)
    // Basic Colors
    --color-background: rgba(250, 250, 250, 1)
    --color-text: rgba(42, 42, 42, 0.8)
    --color-text-bold: rgba(42, 42, 42, 1)
    // Themes Colors
    --color-theme-primary: rgba(255, 107, 53, 1)
    --color-theme-secondary: rgba(0, 0, 0, 1)
    --color-theme-tertiary: rgba(0, 0, 0, 1)
    // Accent Colors
    --color-accent-primary: rgba(0, 0, 0, 1)
    --color-accent-secondary: rgba(0, 0, 0, 1)
    --color-accent-tertiary: rgba(0, 0, 0, 1)
    // Status Colors
    --color-success: rgba(0, 0, 0, 1)
    --color-warning: rgba(0, 0, 0, 1)
    --color-error: rgba(0, 0, 0, 1)
    --color-info: rgba(0, 0, 0, 1)
    
    @media (prefers-color-scheme: dark)
        // Brand Colors
        --color-brand: rgba(255, 107, 53, 1)
        // Basic Colors
        --color-background: rgba(42, 42, 42, 1)
        --color-text: rgba(250, 250, 250, 0.8)
        --color-text-bold: rgba(250, 250, 250, 1)
        // Themes Colors
        --color-theme-primary: rgba(255, 107, 53, 1)
        --color-theme-secondary: rgba(0, 0, 0, 1)
        --color-theme-tertiary: rgba(0, 0, 0, 1)
        // Accent Colors
        --color-accent-primary: rgba(0, 0, 0, 1)
        --color-accent-secondary: rgba(0, 0, 0, 1)
        --color-accent-tertiary: rgba(0, 0, 0, 1)
        // Status Colors
        --color-success: rgba(0, 0, 0, 1)
        --color-warning: rgba(0, 0, 0, 1)
        --color-error: rgba(0, 0, 0, 1)
        --color-info: rgba(0, 0, 0, 1)