button
    border: none
    background-color: var(--control-main-background)
    padding: var(--space-small)
    border-radius: var(--space-small)
    cursor: pointer

button.close-floating-widget
    position: absolute
    background-color: var(--control-widget-background)
    top: var(--space-small)
    right: var(--space-small)
    z-index: 10
    pointer-events: auto
    transition: all 0.2s ease-in-out
    opacity: 0.8
    
    &:hover
        opacity: 1
        transform: scale(1.05)
    
    svg
        vertical-align: middle

        path
            fill: var(--color-text)

    &--info
        svg
            path
                fill: color-mix(in srgb, var(--color-info) 75%, var(--color-text))

    &--warning
        svg
            path
                fill: color-mix(in srgb, var(--color-warning) 75%, var(--color-text))

    &--error
        svg
            path
                fill: color-mix(in srgb, var(--color-error) 75%, var(--color-text))

    &--success
        svg
            path
                fill: color-mix(in srgb, var(--color-success) 75%, var(--color-text))

span
    svg
        path
            fill: var(--color-text)