body, html
    // Colors
    background-color: var(--color-background)
    color: var(--color-text)
    // Typograph
    font-family: var(--font-text)

a
    text-decoration: none
    cursor: pointer
    color: inherit