\:root
    // Container Size
    --screen-size: 1366
    --screen-size-units: 1366px
    --screen-size-small: 390
    --screen-size-small-units: 390px
    --screen-size-medium: 1024
    --screen-size-medium-units: 1024px
    // Container Padding
    --padding-normal: var(--font-p)
    --padding-large: calc(var(--font-p) * 3)
    --padding-small: calc(var(--font-p) / var(--font-scale))