/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[3]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[4]!./sources/mifan/sass/components/blogs.sass ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.blogs-content h5 {
  margin-block-end: var(--padding-small);
}
.blogs-content ul {
  list-style: none;
}

header[header-type=blogs] {
  min-height: calc(30rem - var(--space-top));
}
header[header-type=blogs] .container section h1 {
  max-width: calc(var(--screen-size-small-units) * 2);
  padding-block: var(--padding-normal);
}
header[header-type=blogs] .container section small {
  text-transform: uppercase;
}
header[header-type=blogs] .container section p {
  max-width: calc(var(--screen-size-small-units) * 2);
}

.blogs--list-category {
  position: sticky;
  top: var(--space-top);
}
.blogs--list-category ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--padding-small);
}
.blogs--list-category ul a {
  display: block;
  height: auto;
}
.blogs--list-category ul a:hover {
  background-color: var(--color-background-hover);
  color: var(--color-primary);
}

@media screen and (max-width: 1023px) {
  .blogs--list-category ul {
    flex-direction: row;
  }
}
.blogs--list ul li a {
  height: calc(3rem + var(--padding-small) / 2);
  padding: calc(var(--padding-small) / 2);
}
.blogs--list ul li a p,
.blogs--list ul li a small {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogs--list ul li a div {
  aspect-ratio: 3/2;
  height: 100%;
  background-color: var(--color-background-empty);
  border: 1px solid color-mix(in srgb, var(--color-text) 15%, transparent);
  border-radius: calc(var(--padding-small) / 2);
}
.blogs--list ul li a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.blogs--list ul li a:hover {
  background-color: var(--color-primary-hover);
}
.blogs--list ul li a:hover img {
  filter: none;
}

.blogs--buttons {
  text-align: center;
  margin-block: var(--padding-normal);
}
.blogs--buttons button {
  border: 2px solid var(--color-text);
  padding: var(--padding-small) var(--padding-large);
  border-radius: calc(var(--padding-small) / 2);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-color: var(--color-background-hover);
  color: var(--color-text);
}
.blogs--buttons button:hover {
  background-color: var(--color-primary-hover);
}

.blogs-tags span {
  padding: calc(var(--padding-small) / 4) calc(var(--padding-small) / 2);
  background-color: var(--color-background-empty);
  border: 2px solid color-mix(in srgb, var(--color-text) 15%, transparent);
  border-radius: calc(var(--padding-small) / 2);
  transition: border-color 0.3s ease;
}
.blogs-tags span:hover, .blogs-tags span.active {
  border-color: var(--color-primary-hover);
  color: var(--color-primary);
}
