/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[3]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[4]!./sources/mifan/sass/framework.sass ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Mifan";
  src: url(http://localhost:8080/assets/fonts/MifanRegular.9e3b85bc.eot);
  src: local("Mifan Regular"), local("MifanRegular"), url(http://localhost:8080/assets/fonts/MifanRegular.9e3b85bc.eot?#iefix) format("embedded-opentype"), url(http://localhost:8080/assets/fonts/MifanRegular.36c7e064.woff2) format("woff2"), url(http://localhost:8080/assets/fonts/MifanRegular.0601484d.woff) format("woff"), url(http://localhost:8080/assets/fonts/MifanRegular.fae1e3da.ttf) format("truetype"), url(http://localhost:8080/assets/images/MifanRegular.5243bdbc.svg#MifanRegular) format("svg");
  font-display: swap;
  font-kerning: auto;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Oswald";
  src: url(http://localhost:8080/assets/fonts/Oswald-Bold.3d0fc46c.eot);
  src: url(http://localhost:8080/assets/fonts/Oswald-Bold.3d0fc46c.eot?#iefix) format("embedded-opentype"), url(http://localhost:8080/assets/fonts/Oswald-Bold.02e71a32.woff2) format("woff2"), url(http://localhost:8080/assets/fonts/Oswald-Bold.67aa57c6.woff) format("woff"), url(http://localhost:8080/assets/fonts/Oswald-Bold.5ceb7635.ttf) format("truetype"), url(http://localhost:8080/assets/images/Oswald-Bold.117680ab.svg#Oswald-Bold) format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url(http://localhost:8080/assets/fonts/Oswald-Light.ba46e082.eot);
  src: url(http://localhost:8080/assets/fonts/Oswald-Light.ba46e082.eot?#iefix) format("embedded-opentype"), url(http://localhost:8080/assets/fonts/Oswald-Light.f5a8eca3.woff2) format("woff2"), url(http://localhost:8080/assets/fonts/Oswald-Light.96fc822b.woff) format("woff"), url(http://localhost:8080/assets/fonts/Oswald-Light.3c591d02.ttf) format("truetype"), url(http://localhost:8080/assets/images/Oswald-Light.948782d8.svg#Oswald-Light) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url(http://localhost:8080/assets/fonts/Oswald-Regular.c11efca3.eot);
  src: url(http://localhost:8080/assets/fonts/Oswald-Regular.c11efca3.eot?#iefix) format("embedded-opentype"), url(http://localhost:8080/assets/fonts/Oswald-Regular.13a3b6c8.woff2) format("woff2"), url(http://localhost:8080/assets/fonts/Oswald-Regular.18bd5871.woff) format("woff"), url(http://localhost:8080/assets/fonts/Oswald-Regular.ab08c153.ttf) format("truetype"), url(http://localhost:8080/assets/images/Oswald-Regular.ef8220b7.svg#Oswald-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  font-size: var(--font-size-units);
  font-family: var(--font-text);
  font-weight: var(--font-text-weight);
}
html small, body small {
  font-size: calc(var(--font-p) / var(--font-scale));
}
html p, body p {
  font-size: var(--font-p);
  line-height: 1.6;
}
html h6, body h6 {
  font-size: calc(var(--font-p) * pow(var(--font-scale), 1));
}
html h5, body h5 {
  font-size: calc(var(--font-p) * pow(var(--font-scale), 2));
}
html h4, body h4 {
  font-size: calc(var(--font-p) * pow(var(--font-scale), 3));
}
html h3, body h3 {
  font-size: calc(var(--font-p) * pow(var(--font-scale), 4));
}
html h2, body h2 {
  font-size: calc(var(--font-p) * pow(var(--font-scale), 5));
}
html h1, body h1 {
  font-size: calc(var(--font-p) * pow(var(--font-scale), 6));
}
html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: var(--font-title);
  font-weight: var(--font-title-weight);
  line-height: 1.15;
}
html em, html a, html span, html code, html pre, html blockquote, html strong, html b, body em, body a, body span, body code, body pre, body blockquote, body strong, body b {
  font: inherit;
}
html strong, html b, body strong, body b {
  font-weight: bold;
}

@media screen and (min-width: 390px) and (max-width: 1366px) {
  html, body {
    font-size: calc(var(--font-size-small-units) + (var(--font-size) - var(--font-size-small)) * (100dvw - var(--screen-size-small-units)) / (var(--screen-size) - var(--screen-size-small)));
  }
}
@media screen and (max-width: 389px) {
  html, body {
    font-size: var(--font-size-small-units);
  }
}
.mifan-apps .container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding-large) * 1.5);
  width: 100%;
  height: 100%;
  max-width: var(--screen-size-units);
  margin-inline: auto;
}
.mifan-apps .container section {
  padding-inline: var(--padding-normal);
}
.mifan-apps .container .section--space-large {
  padding-block: calc(var(--padding-normal) * 3);
}
.mifan-apps .container .section--space-normal {
  padding-block: calc(var(--padding-normal) * 1);
}
.mifan-apps .container .section--space-small {
  padding-block: calc(var(--padding-normal) * 0.5);
}
.mifan-apps .container ~ .container--space-large {
  padding-block: calc(var(--padding-normal) * 3);
}
.mifan-apps .container ~ .container--space-normal {
  padding-block: calc(var(--padding-normal) * 1);
}
.mifan-apps .container ~ .container--space-small {
  padding-block: calc(var(--padding-normal) * 0.5);
}
.mifan-apps .container--space-large {
  padding-block: calc(var(--padding-normal) * 3);
}
.mifan-apps .container--space-normal {
  padding-block: calc(var(--padding-normal) * 1);
}
.mifan-apps .container--space-small {
  padding-block: calc(var(--padding-normal) * 0.5);
}

.mifan-apps.box {
  padding-inline: var(--padding-normal);
}
.mifan-apps.box header,
.mifan-apps.box main,
.mifan-apps.box footer {
  background: color-mix(in srgb, var(--color-background) 0%, transparent);
}
.mifan-apps.box header .container,
.mifan-apps.box main .container,
.mifan-apps.box footer .container {
  margin-block: var(--padding-small);
  border-radius: var(--padding-small);
  border: 2px solid color-mix(in srgb, var(--color-text) 85%, transparent);
}

body,
html {
  scroll-behavior: smooth;
}

.mifan-apps {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mifan-apps main {
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--font-p);
}

.col-1 {
  grid-column-end: span 1;
  transition: all 0.3s linear;
}

.col-offset-1 {
  grid-column-start: 2;
}

.row-1 {
  grid-row-end: span 1;
}

.row-offset-1 {
  grid-row-start: 2;
}

.col-2 {
  grid-column-end: span 2;
  transition: all 0.3s linear;
}

.col-offset-2 {
  grid-column-start: 3;
}

.row-2 {
  grid-row-end: span 2;
}

.row-offset-2 {
  grid-row-start: 3;
}

.col-3 {
  grid-column-end: span 3;
  transition: all 0.3s linear;
}

.col-offset-3 {
  grid-column-start: 4;
}

.row-3 {
  grid-row-end: span 3;
}

.row-offset-3 {
  grid-row-start: 4;
}

.col-4 {
  grid-column-end: span 4;
  transition: all 0.3s linear;
}

.col-offset-4 {
  grid-column-start: 5;
}

.row-4 {
  grid-row-end: span 4;
}

.row-offset-4 {
  grid-row-start: 5;
}

.col-5 {
  grid-column-end: span 5;
  transition: all 0.3s linear;
}

.col-offset-5 {
  grid-column-start: 6;
}

.row-5 {
  grid-row-end: span 5;
}

.row-offset-5 {
  grid-row-start: 6;
}

.col-6 {
  grid-column-end: span 6;
  transition: all 0.3s linear;
}

.col-offset-6 {
  grid-column-start: 7;
}

.row-6 {
  grid-row-end: span 6;
}

.row-offset-6 {
  grid-row-start: 7;
}

.col-7 {
  grid-column-end: span 7;
  transition: all 0.3s linear;
}

.col-offset-7 {
  grid-column-start: 8;
}

.row-7 {
  grid-row-end: span 7;
}

.row-offset-7 {
  grid-row-start: 8;
}

.col-8 {
  grid-column-end: span 8;
  transition: all 0.3s linear;
}

.col-offset-8 {
  grid-column-start: 9;
}

.row-8 {
  grid-row-end: span 8;
}

.row-offset-8 {
  grid-row-start: 9;
}

.col-9 {
  grid-column-end: span 9;
  transition: all 0.3s linear;
}

.col-offset-9 {
  grid-column-start: 10;
}

.row-9 {
  grid-row-end: span 9;
}

.row-offset-9 {
  grid-row-start: 10;
}

.col-10 {
  grid-column-end: span 10;
  transition: all 0.3s linear;
}

.col-offset-10 {
  grid-column-start: 11;
}

.row-10 {
  grid-row-end: span 10;
}

.row-offset-10 {
  grid-row-start: 11;
}

.col-11 {
  grid-column-end: span 11;
  transition: all 0.3s linear;
}

.col-offset-11 {
  grid-column-start: 12;
}

.row-11 {
  grid-row-end: span 11;
}

.row-offset-11 {
  grid-row-start: 12;
}

.col-12 {
  grid-column-end: span 12;
  transition: all 0.3s linear;
}

.col-offset-12 {
  grid-column-start: 13;
}

.row-12 {
  grid-row-end: span 12;
}

.row-offset-12 {
  grid-row-start: 13;
}

@media (min-width: 390px) {
  .col-small-1 {
    grid-column-end: span 1;
    transition: all 0.3s linear;
  }
  .col-offset-small-1 {
    grid-column-start: 2;
  }
  .row-small-1 {
    grid-row-end: span 1;
  }
  .row-offset-small-1 {
    grid-row-start: 2;
  }
  .col-small-2 {
    grid-column-end: span 2;
    transition: all 0.3s linear;
  }
  .col-offset-small-2 {
    grid-column-start: 3;
  }
  .row-small-2 {
    grid-row-end: span 2;
  }
  .row-offset-small-2 {
    grid-row-start: 3;
  }
  .col-small-3 {
    grid-column-end: span 3;
    transition: all 0.3s linear;
  }
  .col-offset-small-3 {
    grid-column-start: 4;
  }
  .row-small-3 {
    grid-row-end: span 3;
  }
  .row-offset-small-3 {
    grid-row-start: 4;
  }
  .col-small-4 {
    grid-column-end: span 4;
    transition: all 0.3s linear;
  }
  .col-offset-small-4 {
    grid-column-start: 5;
  }
  .row-small-4 {
    grid-row-end: span 4;
  }
  .row-offset-small-4 {
    grid-row-start: 5;
  }
  .col-small-5 {
    grid-column-end: span 5;
    transition: all 0.3s linear;
  }
  .col-offset-small-5 {
    grid-column-start: 6;
  }
  .row-small-5 {
    grid-row-end: span 5;
  }
  .row-offset-small-5 {
    grid-row-start: 6;
  }
  .col-small-6 {
    grid-column-end: span 6;
    transition: all 0.3s linear;
  }
  .col-offset-small-6 {
    grid-column-start: 7;
  }
  .row-small-6 {
    grid-row-end: span 6;
  }
  .row-offset-small-6 {
    grid-row-start: 7;
  }
  .col-small-7 {
    grid-column-end: span 7;
    transition: all 0.3s linear;
  }
  .col-offset-small-7 {
    grid-column-start: 8;
  }
  .row-small-7 {
    grid-row-end: span 7;
  }
  .row-offset-small-7 {
    grid-row-start: 8;
  }
  .col-small-8 {
    grid-column-end: span 8;
    transition: all 0.3s linear;
  }
  .col-offset-small-8 {
    grid-column-start: 9;
  }
  .row-small-8 {
    grid-row-end: span 8;
  }
  .row-offset-small-8 {
    grid-row-start: 9;
  }
  .col-small-9 {
    grid-column-end: span 9;
    transition: all 0.3s linear;
  }
  .col-offset-small-9 {
    grid-column-start: 10;
  }
  .row-small-9 {
    grid-row-end: span 9;
  }
  .row-offset-small-9 {
    grid-row-start: 10;
  }
  .col-small-10 {
    grid-column-end: span 10;
    transition: all 0.3s linear;
  }
  .col-offset-small-10 {
    grid-column-start: 11;
  }
  .row-small-10 {
    grid-row-end: span 10;
  }
  .row-offset-small-10 {
    grid-row-start: 11;
  }
  .col-small-11 {
    grid-column-end: span 11;
    transition: all 0.3s linear;
  }
  .col-offset-small-11 {
    grid-column-start: 12;
  }
  .row-small-11 {
    grid-row-end: span 11;
  }
  .row-offset-small-11 {
    grid-row-start: 12;
  }
  .col-small-12 {
    grid-column-end: span 12;
    transition: all 0.3s linear;
  }
  .col-offset-small-12 {
    grid-column-start: 13;
  }
  .row-small-12 {
    grid-row-end: span 12;
  }
  .row-offset-small-12 {
    grid-row-start: 13;
  }
}
@media (min-width: 1024px) {
  .col-medium-1 {
    grid-column-end: span 1;
    transition: all 0.3s linear;
  }
  .col-offset-medium-1 {
    grid-column-start: 2;
  }
  .row-medium-1 {
    grid-row-end: span 1;
  }
  .row-offset-medium-1 {
    grid-row-start: 2;
  }
  .col-medium-2 {
    grid-column-end: span 2;
    transition: all 0.3s linear;
  }
  .col-offset-medium-2 {
    grid-column-start: 3;
  }
  .row-medium-2 {
    grid-row-end: span 2;
  }
  .row-offset-medium-2 {
    grid-row-start: 3;
  }
  .col-medium-3 {
    grid-column-end: span 3;
    transition: all 0.3s linear;
  }
  .col-offset-medium-3 {
    grid-column-start: 4;
  }
  .row-medium-3 {
    grid-row-end: span 3;
  }
  .row-offset-medium-3 {
    grid-row-start: 4;
  }
  .col-medium-4 {
    grid-column-end: span 4;
    transition: all 0.3s linear;
  }
  .col-offset-medium-4 {
    grid-column-start: 5;
  }
  .row-medium-4 {
    grid-row-end: span 4;
  }
  .row-offset-medium-4 {
    grid-row-start: 5;
  }
  .col-medium-5 {
    grid-column-end: span 5;
    transition: all 0.3s linear;
  }
  .col-offset-medium-5 {
    grid-column-start: 6;
  }
  .row-medium-5 {
    grid-row-end: span 5;
  }
  .row-offset-medium-5 {
    grid-row-start: 6;
  }
  .col-medium-6 {
    grid-column-end: span 6;
    transition: all 0.3s linear;
  }
  .col-offset-medium-6 {
    grid-column-start: 7;
  }
  .row-medium-6 {
    grid-row-end: span 6;
  }
  .row-offset-medium-6 {
    grid-row-start: 7;
  }
  .col-medium-7 {
    grid-column-end: span 7;
    transition: all 0.3s linear;
  }
  .col-offset-medium-7 {
    grid-column-start: 8;
  }
  .row-medium-7 {
    grid-row-end: span 7;
  }
  .row-offset-medium-7 {
    grid-row-start: 8;
  }
  .col-medium-8 {
    grid-column-end: span 8;
    transition: all 0.3s linear;
  }
  .col-offset-medium-8 {
    grid-column-start: 9;
  }
  .row-medium-8 {
    grid-row-end: span 8;
  }
  .row-offset-medium-8 {
    grid-row-start: 9;
  }
  .col-medium-9 {
    grid-column-end: span 9;
    transition: all 0.3s linear;
  }
  .col-offset-medium-9 {
    grid-column-start: 10;
  }
  .row-medium-9 {
    grid-row-end: span 9;
  }
  .row-offset-medium-9 {
    grid-row-start: 10;
  }
  .col-medium-10 {
    grid-column-end: span 10;
    transition: all 0.3s linear;
  }
  .col-offset-medium-10 {
    grid-column-start: 11;
  }
  .row-medium-10 {
    grid-row-end: span 10;
  }
  .row-offset-medium-10 {
    grid-row-start: 11;
  }
  .col-medium-11 {
    grid-column-end: span 11;
    transition: all 0.3s linear;
  }
  .col-offset-medium-11 {
    grid-column-start: 12;
  }
  .row-medium-11 {
    grid-row-end: span 11;
  }
  .row-offset-medium-11 {
    grid-row-start: 12;
  }
  .col-medium-12 {
    grid-column-end: span 12;
    transition: all 0.3s linear;
  }
  .col-offset-medium-12 {
    grid-column-start: 13;
  }
  .row-medium-12 {
    grid-row-end: span 12;
  }
  .row-offset-medium-12 {
    grid-row-start: 13;
  }
}
@media (min-width: 1366px) {
  .col-large-1 {
    grid-column-end: span 1;
    transition: all 0.3s linear;
  }
  .col-offset-large-1 {
    grid-column-start: 2;
  }
  .row-large-1 {
    grid-row-end: span 1;
  }
  .row-offset-large-1 {
    grid-row-start: 2;
  }
  .col-large-2 {
    grid-column-end: span 2;
    transition: all 0.3s linear;
  }
  .col-offset-large-2 {
    grid-column-start: 3;
  }
  .row-large-2 {
    grid-row-end: span 2;
  }
  .row-offset-large-2 {
    grid-row-start: 3;
  }
  .col-large-3 {
    grid-column-end: span 3;
    transition: all 0.3s linear;
  }
  .col-offset-large-3 {
    grid-column-start: 4;
  }
  .row-large-3 {
    grid-row-end: span 3;
  }
  .row-offset-large-3 {
    grid-row-start: 4;
  }
  .col-large-4 {
    grid-column-end: span 4;
    transition: all 0.3s linear;
  }
  .col-offset-large-4 {
    grid-column-start: 5;
  }
  .row-large-4 {
    grid-row-end: span 4;
  }
  .row-offset-large-4 {
    grid-row-start: 5;
  }
  .col-large-5 {
    grid-column-end: span 5;
    transition: all 0.3s linear;
  }
  .col-offset-large-5 {
    grid-column-start: 6;
  }
  .row-large-5 {
    grid-row-end: span 5;
  }
  .row-offset-large-5 {
    grid-row-start: 6;
  }
  .col-large-6 {
    grid-column-end: span 6;
    transition: all 0.3s linear;
  }
  .col-offset-large-6 {
    grid-column-start: 7;
  }
  .row-large-6 {
    grid-row-end: span 6;
  }
  .row-offset-large-6 {
    grid-row-start: 7;
  }
  .col-large-7 {
    grid-column-end: span 7;
    transition: all 0.3s linear;
  }
  .col-offset-large-7 {
    grid-column-start: 8;
  }
  .row-large-7 {
    grid-row-end: span 7;
  }
  .row-offset-large-7 {
    grid-row-start: 8;
  }
  .col-large-8 {
    grid-column-end: span 8;
    transition: all 0.3s linear;
  }
  .col-offset-large-8 {
    grid-column-start: 9;
  }
  .row-large-8 {
    grid-row-end: span 8;
  }
  .row-offset-large-8 {
    grid-row-start: 9;
  }
  .col-large-9 {
    grid-column-end: span 9;
    transition: all 0.3s linear;
  }
  .col-offset-large-9 {
    grid-column-start: 10;
  }
  .row-large-9 {
    grid-row-end: span 9;
  }
  .row-offset-large-9 {
    grid-row-start: 10;
  }
  .col-large-10 {
    grid-column-end: span 10;
    transition: all 0.3s linear;
  }
  .col-offset-large-10 {
    grid-column-start: 11;
  }
  .row-large-10 {
    grid-row-end: span 10;
  }
  .row-offset-large-10 {
    grid-row-start: 11;
  }
  .col-large-11 {
    grid-column-end: span 11;
    transition: all 0.3s linear;
  }
  .col-offset-large-11 {
    grid-column-start: 12;
  }
  .row-large-11 {
    grid-row-end: span 11;
  }
  .row-offset-large-11 {
    grid-row-start: 12;
  }
  .col-large-12 {
    grid-column-end: span 12;
    transition: all 0.3s linear;
  }
  .col-offset-large-12 {
    grid-column-start: 13;
  }
  .row-large-12 {
    grid-row-end: span 12;
  }
  .row-offset-large-12 {
    grid-row-start: 13;
  }
}
.flex {
  display: flex;
}
.flex--column {
  flex-direction: column;
}
.flex--row {
  flex-direction: row;
}
.flex--justify-center {
  justify-content: center;
}
.flex--justify-start {
  justify-content: flex-start;
}
.flex--justify-end {
  justify-content: flex-end;
}
.flex--justify-between {
  justify-content: space-between;
}
.flex--justify-around {
  justify-content: space-around;
}
.flex--justify-evenly {
  justify-content: space-evenly;
}
.flex--align-center {
  align-items: center;
}
.flex--align-start {
  align-items: flex-start;
}
.flex--align-end {
  align-items: flex-end;
}
.flex--gap-small {
  gap: var(--padding-small);
}
.flex--gap-normal {
  gap: var(--padding-normal);
}
.flex--gap-large {
  gap: var(--padding-large);
}
.flex--wrap {
  flex-wrap: wrap;
}

body, html {
  background-color: var(--color-background);
  color: var(--color-text);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  animation: fadeInUp 1s ease-out 0.3s both;
}

main section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
main section.visible {
  opacity: 1;
  transform: translateY(0);
}

form .input-container {
  padding: calc(var(--font-p) / 8);
  border: 2px solid color-mix(in srgb, var(--color-text) 75%, transparent);
  border-radius: 0.5rem;
  background: transparent;
  position: relative;
  max-width: 100%;
  height: 2rem;
}
form .input-container input[type=email],
form .input-container button[type=submit] {
  border-radius: calc(0.5rem - 3px);
  background: transparent;
}
form .input-container input[type=email] {
  position: absolute;
  width: 85%;
  height: 2rem;
  border: none;
  outline: none;
  padding-inline-start: calc(var(--font-p) / 2);
  font-family: var(--font-text);
  color: color-mix(in srgb, var(--color-text) 75%, transparent);
}
form .input-container button[type=submit] {
  position: absolute;
  right: calc(var(--font-p) / 8);
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  background: color-mix(in srgb, var(--color-text) 95%, var(--color-background));
  border: 2px solid color-mix(in srgb, var(--color-text) 75%, transparent);
}
form .input-container button[type=submit] span svg {
  vertical-align: middle;
}
form .input-container button[type=submit] span svg path {
  fill: var(--color-background-empty);
}
form .input-container button[type=submit]:hover {
  background-color: color-mix(in srgb, var(--color-primary) 85%, transparent);
  border: 2px solid color-mix(in srgb, var(--color-primary) 75%, transparent);
}
form .checkbox {
  display: flex;
  align-items: center;
  gap: calc(var(--font-p) / 2);
  padding-block: calc(var(--font-p) / 2);
}
form .checkbox input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.15rem;
  height: 1.15rem;
  border: 2px solid color-mix(in srgb, var(--color-text) 75%, transparent);
  border-radius: 0.375rem;
  background: var(--color-background-empty);
  transition: border-color 0.2s, background 0.2s;
  outline: none;
  position: relative;
  cursor: pointer;
  margin: 0;
}
form .checkbox input[type=checkbox]:hover {
  border-color: color-mix(in srgb, var(--color-text) 75%, transparent);
}
form .checkbox input[type=checkbox]:checked {
  background: transparent;
  border-color: color-mix(in srgb, var(--color-text) 75%, transparent);
}
form .checkbox input[type=checkbox]:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.33rem;
  height: 0.6rem;
  border: 2px solid color-mix(in srgb, var(--color-text) 75%, transparent);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
  pointer-events: none;
}
form .checkbox label {
  font-family: var(--font-text);
  color: color-mix(in srgb, var(--color-text) 88%, var(--color-background));
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
form .checkbox small {
  color: color-mix(in srgb, var(--color-text) 88%, var(--color-background));
}

body, html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-text) var(--color-background);
}

button {
  pointer-events: auto;
  cursor: pointer;
}

.button--social-share {
  padding: calc(var(--padding-small) / 2);
  border-radius: calc(var(--padding-small) / 2);
  border: none;
  background-color: var(--color-background-empty);
}
.button--social-share:hover {
  background-color: color-mix(in srgb, var(--color-primary) 85%, transparent);
}

span svg {
  vertical-align: middle;
}
span svg path {
  fill: var(--color-text);
}

.mifan-announcements {
  background-color: color-mix(in srgb, var(--color-text) 75%, transparent);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  color: var(--color-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  z-index: 4;
}
.mifan-announcements .container {
  max-width: var(--screen-size-units);
  margin-inline: auto;
}
.mifan-announcements .container section {
  padding-inline: var(--font-p);
}
.mifan-announcements .container section .announcement-container {
  position: relative;
  height: calc(var(--font-p) / var(--font-scale) + 0.5rem);
  padding-block: 0.25rem;
}
.mifan-announcements .container section .announcement-container small {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-out, transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mifan-announcements .container section .announcement-container small a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.mifan-top-navigation {
  position: fixed;
  top: calc(var(--font-p) / var(--font-scale) + 1rem);
  left: 0;
  width: 100dvw;
  background-color: color-mix(in srgb, var(--color-background) 75%, transparent);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  z-index: 3;
}

nav {
  box-shadow: 0 0.05rem 0.05rem 0 color-mix(in srgb, var(--color-text) 25%, transparent);
}
nav .container {
  max-width: var(--screen-size-units);
  margin-inline: auto;
}
nav .container section {
  padding: var(--font-p);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container section div:first-child,
nav .container section div:last-child {
  flex: 1;
}
nav .container section div:nth-child(2) {
  flex: 2;
}
nav .container section div:last-child {
  display: flex;
  justify-content: flex-end;
}
nav .logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
nav .logo img {
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-text);
  aspect-ratio: 1/1;
  width: 1.5rem;
  height: auto;
  filter: grayscale(100%);
}
nav .logo img:hover {
  filter: none;
  transform: scale(1.05);
  border-color: var(--color-primary);
}
nav .logo p {
  font-size: 1.5rem;
  font-family: var(--font-title);
  font-weight: var(--font-text-weight);
  line-height: 1;
  color: var(--color-text);
  letter-spacing: 0.02em;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1rem;
}
nav ul li a span svg {
  vertical-align: middle;
}
nav ul li a span svg path {
  fill: var(--color-text);
}
nav ul li a:hover {
  color: color-mix(in srgb, var(--color-text) 25%, transparent);
}
nav ul li a:hover span svg path {
  fill: color-mix(in srgb, var(--color-text) 25%, transparent);
}
nav ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
nav ul li button span svg {
  vertical-align: middle;
}
nav ul li button span svg path {
  fill: var(--color-text);
}
nav ul li button:hover span svg path {
  fill: color-mix(in srgb, var(--color-text) 25%, transparent);
}

.button--downloads {
  box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.18);
}
.button--downloads > * {
  display: inline-flex;
  gap: var(--padding-normal);
  align-items: center;
  padding: calc(var(--padding-small) / 2);
  border-radius: calc(var(--padding-small) / 2);
  position: relative;
  width: 100%;
  background-color: var(--color-background);
  border: 2px solid var(--color-text);
  color: var(--color-text);
}
.button--downloads > * span {
  aspect-ratio: 1;
  border-radius: calc(var(--padding-small) - 0.6rem);
}
.button--downloads > * span svg {
  vertical-align: middle;
}
.button--downloads > * span:last-child {
  padding: 0.75rem;
  position: absolute;
  right: -1.25rem;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  background-color: var(--color-text);
  border-radius: calc(var(--padding-small) - 0.6rem);
  height: 1rem;
  width: 1rem;
}
.button--downloads > * span:last-child svg {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1;
}
.button--downloads > * span:last-child svg path {
  fill: var(--color-background);
}
.button--downloads > * span:last-child:hover {
  background-color: var(--color-primary);
}
.button--downloads > * p {
  padding-inline-end: calc(var(--padding-normal) * 2);
}

.button--downloads {
  margin-inline: 1rem 2rem;
  width: 100%;
  max-width: var(--screen-size-small-units);
}

#mifan-apps {
  --announcement-height: calc(var(--font-p) / var(--font-scale) + 1rem);
  --navigation-height: calc( (var(--font-p) * 2) + 2.25rem);
  --space-top: calc(var(--announcement-height) + var(--navigation-height) + var(--padding-normal));
}

header {
  padding-block-start: var(--space-top);
}

footer .brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: var(--screen-size-small-units);
}
footer .brand div {
  width: calc(var(--padding-normal) * 6);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .brand div:hover {
  border-color: var(--color-primary);
}
footer .brand img {
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.2s, transform 0.2s;
  aspect-ratio: 1/1;
}
footer .brand img:hover {
  filter: none;
  transform: scale(1.05);
}
footer .brand span p {
  line-height: 1;
}
footer .brand span p:first-child {
  font-family: var(--font-title);
  font-size: calc(var(--font-p) * 3);
}
footer .brand span p:last-child {
  font-size: calc(var(--font-p) * 2);
  letter-spacing: calc(var(--font-p) * 0.25);
}

footer a {
  color: color-mix(in srgb, var(--color-text) 75%, transparent);
}
footer a:hover {
  color: color-mix(in srgb, var(--color-text) 35%, transparent);
}
footer ul li a {
  display: inline-block;
  transition: transform 0.3s;
}
footer ul li a:hover {
  transform: translateX(0.5rem);
}
footer .navs__socials {
  display: flex;
  gap: var(--padding-small);
}
footer .navs__socials a {
  display: inline-block;
}
footer .navs__socials a svg {
  vertical-align: middle;
}
footer .navs__socials a svg path {
  fill: var(--color-text);
}
footer .navs__socials a:hover {
  transform: scale(1.05);
}
footer .footer__navs-line ul a:hover {
  transform: scale(1.05);
}
footer .container:last-child ul {
  display: flex;
  gap: var(--padding-small);
}
footer .container:last-child ul li a {
  display: inline;
}

footer .footer__main {
  display: flex;
  gap: var(--padding-large);
}
footer .footer__main div:not(:first-child) p {
  padding-block-end: var(--padding-normal);
}
footer .footer__main > div + div {
  padding-block-start: var(--padding-normal);
}
footer .footer__main[list-alignment=center] .brand, footer .footer__main[list-alignment=right] .brand {
  margin-inline: auto;
}
footer .footer__main[list-alignment=right] .brand {
  margin-inline: auto 0;
}
footer .footer__main[list-alignment=center] .navs__socials, footer .footer__main[list-alignment=right] .navs__socials {
  margin-inline: auto;
}
footer .footer__main[list-alignment=right] .navs__socials {
  margin-inline: auto 0;
}
footer .footer__main[list-alignment=center] {
  justify-content: center;
}
footer .footer__main[list-alignment=center] p {
  text-align: center;
}
footer .footer__main[list-alignment=center] .navs__socials,
footer .footer__main[list-alignment=center] .brand {
  justify-content: center;
}
footer .footer__main[list-alignment=left] {
  justify-content: flex-start;
}
footer .footer__main[list-alignment=left] p {
  text-align: left;
}
footer .footer__main[list-alignment=left] .navs__socials {
  justify-content: flex-start;
}
footer .footer__main[list-alignment=right] {
  justify-content: flex-end;
}
footer .footer__main[list-alignment=right] p {
  text-align: right;
}
footer .footer__main[list-alignment=right] .navs__socials,
footer .footer__main[list-alignment=right] .brand {
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  footer .footer__main {
    flex-direction: column;
    gap: var(--padding-normal);
  }
  footer .footer__main > div:last-child {
    padding-block-start: 0;
  }
  footer .footer__main.--center .brand {
    margin-inline: auto;
  }
  footer .footer__main.--right {
    flex-direction: column;
  }
  footer .footer__main.--right .brand {
    margin-inline: auto 0;
  }
}
footer .footer__navs .navs__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--padding-large);
}
footer .footer__navs .navs__container > * {
  flex: 1 1 0;
  min-width: 0;
}
footer .footer__navs ul {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}
footer .footer__navs h6 {
  margin-block-end: var(--padding-normal);
  font-weight: var(--font-title-alt-weight);
}
@media (max-width: 1024px) {
  footer .footer__navs .navs__container {
    flex-direction: column;
    gap: 0;
  }
  footer .footer__navs .navs__container > * {
    width: 100%;
    border-bottom: 1px solid color-mix(in srgb, var(--color-text) 25%, transparent);
  }
  footer .footer__navs .navs__container > *:last-child {
    border-bottom: none;
  }
  footer .footer__navs h6 {
    margin-block-end: 0;
    padding-block: var(--padding-small);
    position: relative;
  }
  footer .footer__navs h6::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg fill=%27black%27 xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27><rect x=%2711%27 y=%274%27 width=%272%27 height=%2716%27/><rect x=%274%27 y=%2711%27 width=%2716%27 height=%272%27/></svg>");
            mask-image: url("data:image/svg+xml;utf8,<svg fill=%27black%27 xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27><rect x=%2711%27 y=%274%27 width=%272%27 height=%2716%27/><rect x=%274%27 y=%2711%27 width=%2716%27 height=%272%27/></svg>");
    -webkit-mask-size: cover;
            mask-size: cover;
    background-color: var(--color-text);
    transition: transform 0.3s;
  }
  footer .footer__navs h6.open::after {
    transform: translateY(-50%) rotate(45deg);
  }
  footer .footer__navs ul {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    padding-block: 0;
    transform: translateY(-12px);
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.4s cubic-bezier(0.4, 0, 0.2, 1), padding-block 0.4s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  footer .footer__navs h6.open + ul {
    max-height: 25rem;
    opacity: 1;
    visibility: visible;
    padding-block: var(--padding-normal);
    transform: translateY(0);
    transition: max-height 0.7s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1), padding-block 0.6s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: max-height, opacity, visibility, padding-block, transform;
  }
}

footer .footer__newsletter h5 {
  margin-block-end: var(--padding-large);
}
footer .footer__newsletter .newsletter__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--padding-large);
}
footer .footer__newsletter .newsletter__content > * {
  flex: 1 1 0;
}

@media (max-width: 1024px) {
  footer .footer__newsletter h5 {
    margin-block-end: var(--padding-normal);
  }
  footer .footer__newsletter .newsletter__content {
    flex-direction: column;
    gap: var(--padding-normal);
  }
  footer .footer__newsletter .newsletter__content > * {
    width: 100%;
  }
}
footer .footer__navs-line ul, footer .footer__navs-line p {
  display: flex;
  flex-wrap: wrap;
}
footer .footer__navs-line[list-alignment=center] ul, footer .footer__navs-line[list-alignment=center] p {
  justify-content: center;
}
footer .footer__navs-line[list-alignment=right] ul, footer .footer__navs-line[list-alignment=right] p {
  justify-content: flex-end;
}
footer .footer__navs-line[list-alignment=left] ul, footer .footer__navs-line[list-alignment=left] p {
  justify-content: flex-start;
}
footer .footer__navs-line[list-space=small] ul, footer .footer__navs-line[list-space=small] p {
  gap: var(--padding-small);
}
footer .footer__navs-line[list-space=normal] ul, footer .footer__navs-line[list-space=normal] p {
  gap: var(--padding-normal);
}
footer .footer__navs-line[list-space=large] ul, footer .footer__navs-line[list-space=large] p {
  gap: var(--padding-large);
}

footer .container:last-child section:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-small);
}

footer {
  background: var(--color-background-empty);
  color: color-mix(in srgb, var(--color-text) 95%, var(--color-background));
}

.mifan-side {
  position: fixed;
  z-index: 5;
  background-color: color-mix(in srgb, var(--color-background) 75%, transparent);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.mifan-side--left, .mifan-side--right {
  height: 100dvh;
  max-width: var(--screen-size-small-units);
  width: 100%;
}
.mifan-side--top, .mifan-side--bottom {
  min-height: var(--space-top);
  width: 100vw;
}
.mifan-side--left {
  left: 0;
  border-right: 1px solid color-mix(in srgb, var(--color-text) 10%, transparent);
  transform: translateX(-100%);
}
.mifan-side--left.is-visible {
  transform: translateX(0);
}
.mifan-side--right {
  right: 0;
  border-left: 1px solid color-mix(in srgb, var(--color-text) 10%, transparent);
  transform: translateX(100%);
}
.mifan-side--right.is-visible {
  transform: translateX(0);
}
.mifan-side--top {
  top: 0;
  border-bottom: 1px solid color-mix(in srgb, var(--color-text) 10%, transparent);
  transform: translateY(-100%);
}
.mifan-side--top.is-visible {
  transform: translateY(0);
}
.mifan-side--bottom {
  bottom: 0;
  border-top: 1px solid color-mix(in srgb, var(--color-text) 10%, transparent);
  transform: translateY(100%);
}
.mifan-side--bottom.is-visible {
  transform: translateY(0);
}
.mifan-side > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.mifan-side > div button.close {
  position: absolute;
  top: var(--padding-small);
  right: var(--padding-small);
  background: transparent;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25rem;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mifan-side > div button.close span {
  aspect-ratio: 1;
}
.mifan-side > div button.close:hover {
  background-color: color-mix(in srgb, var(--color-text) 10%, transparent);
}
.mifan-side > div > div {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: var(--padding-small);
}
