@use '../../mixin' as *

@forward './footer/footer--main'
@forward './footer/footer--navs'
@forward './footer/footer--newsletter'
@forward './footer/footer--navs-line'
@forward './footer/footer--copyright'

// Footer base color logic
%footer-text-color
    color: color-mix(in srgb, var(--color-text) 95%, var(--color-background))

body[theme-type="default"]
    footer
        @extend %footer-text-color
        background: var(--color-background-empty)
        
body[theme-type="box"]
    footer
        @extend %footer-text-color
        background: color-mix(in srgb, var(--color-background) 0%, transparent)
        padding-inline: var(--space-normal)
        .container,
        .container-sm,
        .container-md,
        .container-full
            width: -webkit-fill-available
            border-radius: var(--base-border-radius)
            border: 2px solid transparent
            background: linear-gradient(var(--color-background), var(--color-background)) padding-box, linear-gradient(to top right, var(--color-border-gradient-bold-start), var(--color-border-gradient-bold-end)) border-box
            backdrop-filter: var(--filter-blur)
            margin-block: var(--space-xsmall)

body[theme-type="float"]
    footer
        margin-block-end: var(--space-xsmall)
        padding-inline: var(--space-normal)
        .container,
        .container-sm,
        .container-md,
        .container-full
            background: var(--color-background-empty)
            @extend %footer-text-color
        
        > div:first-child
            border: 2px solid transparent
            border-bottom: none
            background: linear-gradient(var(--color-background-empty), var(--color-background-empty)) padding-box, linear-gradient(to top right, var(--color-border-gradient-bold-start), var(--color-border-gradient-bold-end)) border-box
            border-top-left-radius: var(--base-border-radius)
            border-top-right-radius: var(--base-border-radius)

        > div:not(:first-child):not(:last-child)
            border-left: 2px solid transparent
            border-right: 2px solid transparent
            background: linear-gradient(var(--color-background-empty), var(--color-background-empty)) padding-box, linear-gradient(90deg, var(--color-border-gradient-bold-start), var(--color-border-gradient-bold-end)) border-box

        > div:last-child
            border: 2px solid transparent
            border-top: none
            background: linear-gradient(var(--color-background-empty), var(--color-background-empty)) padding-box, linear-gradient(to top right, var(--color-border-gradient-bold-start), var(--color-border-gradient-bold-end)) border-box
            border-bottom-left-radius: var(--base-border-radius)
            border-bottom-right-radius: var(--base-border-radius)
    
