.mifan-popup
    position: fixed
    inset: 0
    z-index: 7
    display: flex
    align-items: center
    justify-content: center
    background-color: color-mix(in srgb, var(--color-background) 10%, transparent)
    backdrop-filter: blur(0.1rem)
    opacity: 0
    visibility: hidden
    pointer-events: none
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1), backdrop-filter 0.3s cubic-bezier(0.4, 0, 0.2, 1)

    &.show
        opacity: 1
        visibility: visible
        pointer-events: auto
        
        .container
            transform: scale(1)

    .container
        background-color: var(--color-background)
        border: 2px solid color-mix(in srgb, var(--color-text) 10%, transparent)
        border-radius: var(--padding-small)
        margin: var(--padding-normal)
        transform: scale(0.95)
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1)
        
        > div
            position: relative
            padding: var(--padding-normal)
            min-height: 50dvh

    button.close
        position: absolute
        top: 0.25rem
        right: 0.25rem
        padding: 0.25rem
        background: transparent
        border: none
        border-radius: calc(var(--padding-small) - 0.25rem)
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1)

        span
            aspect-ratio: 1

        &:hover
            background-color: color-mix(in srgb, var(--color-text) 10%, transparent)