/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[3]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[4]!./sources/local/sass/app.sass ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Mifan";
  src: url(http://localhost:8080/assets/fonts/MifanRegular.9e3b85bc.eot);
  src: local("Mifan Regular"), local("MifanRegular"), url(http://localhost:8080/assets/fonts/MifanRegular.9e3b85bc.eot?#iefix) format("embedded-opentype"), url(http://localhost:8080/assets/fonts/MifanRegular.36c7e064.woff2) format("woff2"), url(http://localhost:8080/assets/fonts/MifanRegular.0601484d.woff) format("woff"), url(http://localhost:8080/assets/fonts/MifanRegular.fae1e3da.ttf) format("truetype"), url(http://localhost:8080/assets/images/MifanRegular.5243bdbc.svg#MifanRegular) format("svg");
  font-display: swap;
}
:root {
  --color-brand: rgba(255, 107, 53, 1);
  --color-background: rgba(250, 250, 250, 1);
  --color-text: rgba(42, 42, 42, 0.8);
  --color-text-bold: rgba(42, 42, 42, 1);
  --color-theme-primary: rgba(255, 107, 53, 1);
  --color-theme-secondary: rgba(0, 0, 0, 1);
  --color-theme-tertiary: rgba(0, 0, 0, 1);
  --color-accent-primary: rgba(0, 0, 0, 1);
  --color-accent-secondary: rgba(0, 0, 0, 1);
  --color-accent-tertiary: rgba(0, 0, 0, 1);
  --color-success: rgba(0, 0, 0, 1);
  --color-warning: rgba(0, 0, 0, 1);
  --color-error: rgba(0, 0, 0, 1);
  --color-info: rgba(0, 0, 0, 1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-brand: rgba(255, 107, 53, 1);
    --color-background: rgba(42, 42, 42, 1);
    --color-text: rgba(250, 250, 250, 0.8);
    --color-text-bold: rgba(250, 250, 250, 1);
    --color-theme-primary: rgba(255, 107, 53, 1);
    --color-theme-secondary: rgba(0, 0, 0, 1);
    --color-theme-tertiary: rgba(0, 0, 0, 1);
    --color-accent-primary: rgba(0, 0, 0, 1);
    --color-accent-secondary: rgba(0, 0, 0, 1);
    --color-accent-tertiary: rgba(0, 0, 0, 1);
    --color-success: rgba(0, 0, 0, 1);
    --color-warning: rgba(0, 0, 0, 1);
    --color-error: rgba(0, 0, 0, 1);
    --color-info: rgba(0, 0, 0, 1);
  }
}

:root {
  --font-text: "Mifan", sans-serif;
  --minor-second: 1.067;
  --major-second: 1.125;
  --minor-third: 1.2;
  --major-third: 1.25;
  --perfect-fourth: 1.333;
  --augmented-fourth: 1.414;
  --perfect-fifth: 1.5;
  --minor-sixth: 1.6;
  --golder-ratio: 1.618;
  --major-sixth: 1.667;
  --minor-seventh: 1.778;
  --font-scale: var(--major-third);
  --font-p: 1rem;
}

:root {
  --screen-small-units: 390px;
  --screen-medium-units: 1024px;
  --screen-large-units: 1366px;
  --screen-small: 390;
  --screen-medium: 1024;
  --screen-large: 1366;
}

:root {
  --font-small-units: 14px;
  --font-large-units: 18px;
  --font-small: 14;
  --font-large: 18;
}

:root {
  --space-small: calc((var(--font-p) / var(--font-scale)) / 2);
  --space-normal: var(--font-p);
  --space-large: calc((var(--font-p) / var(--font-scale)) * 2);
}
