/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[3]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[4]!./sources/boilerplate/sass/framework.sass ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap);
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[3]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[4]!./sources/boilerplate/sass/framework.sass (1) ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap);
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[3]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[4]!./sources/boilerplate/sass/framework.sass (2) ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --font-text: 'Chivo', sans-serif;
  --font-title: 'Passion One', cursive;
  --base-font-small-units: 14px;
  --base-font-small: 14;
  --base-font-large-units: 16px;
  --base-font-large: 16;
}

:root {
  --color-primary: rgba(254, 219, 54, 1);
  --color-primary-lighten: rgba(255, 229, 53, 1);
  --color-primary-lightest: rgba(255, 251, 230, 1);
  --color-text-default: rgba(91, 91, 91, 1);
  --color-text-black: rgba(0, 0, 0, 1);
  --color-text-black-alt: rgba(36, 35, 40, 1);
  --color-text-gray: rgba(29, 33, 30, 0.5);
  --color-text-gray-dark: rgba(29, 33, 30, 1);
  --color-text-muted: rgba(149, 149, 149, 1);
  --color-text-muted-alt: rgba(125, 125, 125, 1);
  --color-background-light: rgba(255, 255, 255, 1);
  --color-border-light: rgba(242, 242, 242, 1);
  --color-border-dark: rgba(226, 226, 226, 1);
  --color-border-muted: rgba(229, 229, 229, 1);
  --color-border-muted-alt: rgba(176, 176, 176, 1);
}

:root {
  --container-small-units: 320px;
  --container-small: 320;
  --container-large-units: 390px;
  --container-large: 390;
}
